
body {
    background-color : rgb(184, 248, 150);
    background-size : cover;
    background-position : center;
    color : rgb(30, 27, 23);
    font-family : Helvetica;
    font-size : small;
    height : 100%;
    margin : 0;
    }
    p {
    color : rgb(24, 23, 20);
    font-size : smaller;
    font-family : helvetica;
    }
    input {
    border : 0;
    padding : 10px;
    font-size : 18px;
    }
    img {
    float : right;
    }

    