#card {
    background-color: gray;
    text-align: center;
    border-radius: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-color: black;
    border: 5px dotted;
}
#thx {
    text-align: center;
    font: optional;
    color: dimgray;
}
body {
    background-color: lightgrey;
}
form {
    background-color: gray;
    text-align: center;
    border-radius: 50px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    border-color: black;
    border: 5px dotted;
}
h2 {
    text-align: center;
    font: optional;
    color: dimgray;
}